{% extends 'base.html.twig' %}


{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1 tabindex="0">Bienvenue sur {{ controller_name }}</h1>

    <p tabindex="0">
        Notre site de vente de consoles de jeux vidéo rétro vous offre une large sélection de consoles classiques, comme la Nintendo NES, la Super Nintendo, la Sega Megadrive et la Sony PlayStation 1. Nous avons également une variété de jeux vidéo rétro pour ces consoles, ainsi que des accessoires tels que des manettes et des câbles. Tous nos produits sont soigneusement testés avant la vente pour garantir une expérience de jeu de qualité. Nous offrons également des options de livraison rapide et des retours faciles pour votre commodité. Rejoignez la communauté de joueurs de retro-gaming et redécouvrez vos titres préférés de l'âge d'or des jeux vidéo.
    </p>
    <p tabindex="0">
        Retrouver toutes nos consoles <a class="enter" title="Redirection vers page produits" href="/products">ici  &#x2386</a>

    </p>

    <h2 tabindex="0">Nos consoles les plus vendus</h2>
    <ul class="product">
        <li class="productItem">
            <div class="card PS1" style="width: 50%">
                <h3 tabindex="0">Playstation 1</h3>
                <img src="{{ asset('img/Ps1.jpg') }}" style="width: 100%" alt="Image Playstation 1" tabindex="0"/>
                <p class="description" tabindex="0">La PlayStation 1, également connue sous le nom de PS1, est une console de jeux vidéo de salon de première génération développée et produite par Sony Computer Entertainment. Elle a été lancée en décembre 1994 au Japon et en septembre 1995 aux États-Unis et en Europe. Elle a été très populaire et a été vendue à plus de 102 millions d'exemplaires dans le monde.</p>
                <a href="/products" tabindex="0"><button>Voir plus</button></a>
            </div>
        </li>

        <li class="productItem">
            <div class="card gamecube" style="width: 50%">
                <h3 tabindex="0">GameCube</h3>
                <img src="{{ asset('img/GameCube.jpg') }}" tabindex="0" style="width: 100%" alt="Image GameCube"/>
                <p class="description" tabindex="0">La GameCube est une console de jeux vidéo de salon de sixième génération développée et produite par Nintendo. Elle a été lancée en 2001 au Japon, en 2002 aux États-Unis et en Europe. Elle est la première console de jeux de salon de Nintendo à utiliser des disques optiques plutôt que des cartouches. La GameCube a été conçue pour rivaliser avec les consoles de salon concurrentes de Sony, PlayStation 2 et Microsoft, Xbox.</p>
                <a href="/products" tabindex="0"><button>Voir plus</button></a>
            </div>
        </li>

        <li class="productItem">
            <div class="card SNES" style="width: 50%">
                <h3 tabindex="0">Nintendo SNES</h3>
                <img src="{{ asset('img/SNES.jpg') }}" tabindex="0" style="width: 100%" alt="Image Super NES"/>
                <p class="description" tabindex="0">La Super Nintendo Entertainment System (SNES) est une console de jeux vidéo de salon de quatrième génération développée et produite par Nintendo. Elle a été lancée en 1990 au Japon, en 1991 aux États-Unis et en 1992 en Europe. La SNES est la suite de la NES (Nintendo Entertainment System) et a amélioré les graphismes, la bande-son et les fonctionnalités par rapport à sa prédécesseur. </p>
                <a href="/products" tabindex="0"><button>Voir plus</button></a>
            </div>
        </li>

        <li class="productItem">
            <div class="card Nint64" style="width: 50%">
                <h3 tabindex="0">Nintendo 64</h3>
                <img src="{{ asset('img/Nint64.jpg') }}" tabindex="0" style="width: 100%" alt="Image Nintendo 64"/>
                <p class="description" tabindex="0">La Nintendo 64 (N64) est une console de jeux vidéo de salon de cinquième génération développée et produite par Nintendo. Elle a été lancée en 1996 au Japon, en 1997 aux États-Unis et en Europe. La N64 était la première console de salon de Nintendo à utiliser des cartes mémoire pour sauvegarder les progrès des jeux plutôt que les batteries intégrées. </p>
                <a href="/products" tabindex="0"><button>Voir plus</button></a>
            </div>
        </li>

        <li class="productItem">
            <div class="card sega" style="width: 50%">
                <h3 tabindex="0">SEGA MegaDrive</h3>
                <img src="{{ asset('img/MegaDrive.jpg') }}" tabindex="0" style="width: 100%" alt="Image SEGA Megadrive"/>
                <p class="description" tabindex="0">La SEGA Mega Drive (ou Genesis aux États-Unis) est une console de jeux vidéo de salon de quatrième génération développée et produite par SEGA. Elle a été lancée en 1988 au Japon, en 1989 aux États-Unis et en 1990 en Europe. La Mega Drive était la première console de salon de SEGA et a été conçue pour rivaliser avec la Super Nintendo Entertainment System (SNES) de Nintendo.</p>
                <a href="/products" tabindex="0"><button>Voir plus</button></a>
            </div>
        </li>

        <li class="productItem">
            <div class="card atari" style="width: 50%">
                <h3 tabindex="0">GameBoy</h3>
                <img src="{{ asset('img/GameBoy.jpg') }}" tabindex="0" style="width: 100%" alt="Image Atari 2600"/>
                <p class="description" tabindex="0">Le Game Boy est une console portable de jeux vidéo développée et produite par Nintendo. Il a été lancé en 1989 et a été le premier système de jeu portable de Nintendo. Le Game Boy utilisait des cartouches de jeu pour permettre aux joueurs de jouer à leurs jeux préférés partout où ils allaient.</p>
                <a href="/products" tabindex="0"><button>Voir plus</button></a>
            </div>
        </li>
    </ul>

    <h2>Qui sommes nous ?</h2>
    <p>
        Notre passion pour les jeux vidéo rétro nous a poussé à créer ce site de vente de consoles de jeux vidéo rétro. Nous sommes une équipe déterminée à offrir à nos clients la meilleure expérience possible avec les jeux vidéo classiques. Nous sélectionnons soigneusement chaque console et jeu que nous vendons pour garantir la qualité et la fonctionnalité parfaite. Nous sommes également toujours à la recherche de nouvelles façons de satisfaire nos clients, que ce soit en offrant des options de livraison rapide, un processus de retour facile ou en étant toujours disponibles pour répondre à vos questions. Rejoignez notre communauté de passionnés de jeux vidéo rétro et redécouvrez le plaisir de jouer à ces jeux classiques.
    </p>
{% endblock %}
